<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Accused information</h3>
  </div>
  <div class="panel-body  col-md-5">
    <div class="form-group">
      <label for="exampleSelect1">Gender</label>
      <select class="form-control" id="exampleSelect1" [(ngModel)]="modal.gender" name="gender">
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
    <div class="form-group">
      <label>Cort date</label>
      <input type="date" class="form-control"  placeholder="Cort date" [(ngModel)]="modal.coartDate" name="cortDate">
    </div>
    <div class="form-group">
      <label for="exampleSelect1">Status</label>
      <select class="form-control" [(ngModel)]="status" name="status">
        <option>Pending</option>
        <option>Warrnet</option>
        <option>Trial</option>
      </select>
    </div>
    <div class="form-group">
      <label>Fine</label>
      <input type="number" class="form-control"  placeholder="Enter Fine" [(ngModel)]="modal.fine" name="fine">
    </div>
    <div class="form-group">
      <label >Trial Date</label>
      <input type="date" class="form-control" placeholder="Enter trial date" [(ngModel)]="trialDate" name="trialDate">
    </div>
  </div>
</div>
